@import 'fonts';



body {
  background-color: #fdfbef;
  background-image: url('../images/mc-pattern-light.png');
  background-size: contain;
  margin: 0;

  .party-container {
    display: none;
  }

  &.party-on {
    background-image: none;
    background-color: #6bff69;

    header {
      display: none;
    }

    #status {
      display: none;
    }

    .tv-container {
      display: none;
    }

    .party-container {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 1000;
      
      .message {
        position: absolute;
        font-size: 10rem;
        color: hotpink;
        text-align: center;
        padding-top: 3rem;
      }

      img {
        position: absolute;
        max-width: 375px;
        
        &.bikini {
          top: 10%;
          left: 0;
        }
        
        &.beer {
          top: 40%;
          left: 13%;
        }

        &.cactus {
          top: 65%;
          left: 26%;
        }

        &.dolphin {
          top: 40%;
          left: 39%;
        }
     
        &.fu {
          left: 37%;
        }

        &.flamingo {
          top: 20%;
          left: 60%;
        }

        &.palm {
          top: 65%;
          left: 65%;
        }

        &.pineapple {
          top: 30%;
          left: 78%;
        }

      }

    }
  }
}



header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .logo-container {
    width: 50%;
    margin: 0 1rem;
    h1 {
      font-family: 'Monstroula';
      color: black;
      letter-spacing: .09rem;
      font-size: 5rem;
      margin: 0;
      padding: .5rem 0;
      font-weight: normal;
    }

  }
}

.font-monstroula {
  font-family: "Monstroula";
}

.font-pacifico {
  font-family: "pacifico";
}

.font-surfboard {
  font-family: 'SurfboardITCTT';
}

.color-red {
  color: #C02628;
}

#status {
  position: absolute;
  font-family: 'Pacifico';
  color: #f44336;
  letter-spacing: .09rem;
  font-size: 5rem;
  bottom: 0;
  z-index: 10000;
}

body {
  &.chad-detected {
    #status {
      font-size: 6rem;
    }
  }
}


.tv-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

  .tv-image {
    position: absolute;
    top: -270px;
    left: 0px;
    z-index: 1000;
    width: 1000px;
  }

  .video-container {
    position: absolute;
    left: 135px;
    top: 217px;
    width: 610px;

    #inputVideo {
      width: 100%;
      height: 100%;
    }
    
    #overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 900;
    }
  }
}


@keyframes spin { 
  100% { transform:rotate(360deg); } 
}

@keyframes spin-left { 
  100% { transform:rotate(-360deg); } 
}

@keyframes spin-counter { 
  0% { 
    transform:translateY(0%) rotate(-360deg); 
  }
 
  100% {
    transform:translateY(100%);
  }
}


@keyframes spin-n-fall {
  0% { 
    transform:translateY(0%) rotate(360deg); 
  }
 
  100% {
    transform:translateY(200%);
  }
}

@keyframes grow { 
  0% { transform:scale(1);}
  100% { transform:scale(1.5); } 
}

@keyframes fall { 
  0% { transform:translateY(0%) }
  100% { transform:translateY(200%) }
}

@keyframes rise { 
  0% { transform:translateY(200vh) }
  100% { transform:translateY(0vh) }
}

.spin {
  animation: spin 5s linear infinite;
}

.spin-counter {
  animation: spin-left 6s linear infinite;
}

.grow {
  animation: grow 4s linear infinite;
}

.fall {
  animation: fall 4s linear infinite;
}

.rise {
  animation: rise 7s linear infinite;
}
